<!--The content below is only a placeholder and can be replaced.-->
<!-- <app-comp1></app-comp1>
<app-comp2></app-comp2>
<app-comp3></app-comp3> 
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>

  //*ngIf Directive
  <p *ngIf="condition">
    condition true add element in to DOM
  </p>

  <p *ngIf="!condition">
    condition false and remove element from DOM
  </p>

<app-ngfor></app-ngfor>
<button class="btn btn-primary">Bootstrap</button>
<app-ngswitch></app-ngswitch> -->
<!-- <app-ngswitch2></app-ngswitch2>
   <app-ngstyle></app-ngstyle> -->

<!-- <app-ngclass></app-ngclass> -->
<!-- <p appCustdir>Normal Para</p> -->

<!-- <app-ngclass2></app-ngclass2> -->
<!-- <app-ass3 ></app-ass3> -->


<!-- <app-child [data]="fromParenttochild" (childOutput)="GetValueFromChild($event)"></app-child> -->

<!-- <app-child2 [employee]="emp" (childOutput)="GetValuepro($event)"></app-child2> -->
<!-- <input type="text" (blur)="submitValue(val)"> -->
<!-- <input type="text" placeholder="Input here..." #val>
<button (click)="submitValue(val)"> SubmitValue </button>
<app-lifecyclehooks [data]="value">
  This is from child content
</app-lifecyclehooks> -->

<!-- <app-simpletemplate></app-simpletemplate> -->
<!-- <app-studentform></app-studentform> -->
<!-- <app-studentform2></app-studentform2> -->
<!-- <app-practice1 [cars]="car" (cOutput)="GetVFromC($event)"></app-practice1> -->
<!-- <app-practice2 [students]="student" (booksOutput)="GetValueFrombooks($event)"></app-practice2> -->
<!-- <app-simpletemplate02></app-simpletemplate02> -->
<!-- <app-reactiveform></app-reactiveform> -->
<!-- <app-bookappoinment></app-bookappoinment> -->
<!-- <div *ngFor="let p of products">
  UserName: <strong>
    {{p.name}}
  </strong>
  Id : <strong>
    {{p.id}}
  </strong>
  
</div>
<div class="row">
  <div class="col-md-6">
  <input type="text" #title (keyup.enter)="createPost(title)" class="form-control">
</div>
</div> -->

<!-- <app-comp2></app-comp2> -->
<!-- <app-userdemo></app-userdemo> -->
<!-- <app-passw ></app-passw> -->
<!-- <app-pipedemo></app-pipedemo> -->
<!-- <app-home></app-home> -->
<header>
  <nav>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link"  routerLink="/home" routerLinkActive="active">Home</a> 
      </li>
      <li class="nav-item">
        <a class="nav-link"  routerLink="/aboutus" routerLinkActive="active myactive">About Us</a> 
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contactus" routerLinkActive="active myactive" >Contact Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/products" routerLinkActive="active myactive" >Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/service" routerLinkActive="active myactive" >Service</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/order" routerLinkActive="active myactive" >Order</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/customers" routerLinkActive="active myactive" >Customer</a>
      </li>
    </ul>
  </nav>
</header>

<!-- <div class="row">
  <div class="col-md-3">
    <app-compo1></app-compo1>
  </div>
  <div class="col-md-3">
    <app-compo2></app-compo2>
  </div>
  <div class="col-md-3">
    <app-compo3></app-compo3>
  </div>
  <div class="col-md-3">
    <app-compo4></app-compo4>
  </div>

</div> -->
 
<router-outlet></router-outlet>
